<template>
  <the-header></the-header>
  <router-view/>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue'

export default {
  name: "App",
  components: {
    TheHeader
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

:root {
  --bg-color: #2F3136;

  --theme-color: #6199ED;
  --theme-color-hover: #538FE9;
  --theme-color-active: #407BD4;
  --theme-color-disabled: #737d8c;

  --theme-color-2: #699BE5;
  --theme-color-2-hover: #5D91DF;
  --theme-color-2-active: #4377C7;
  --theme-color-2-picked: #6399EB;
  --theme-color-2-ignored: #8CABD9;

  --width: 248px;
  --height: 380px;
}

html, body {
  width: var(--width);
  height: var(--height);
  max-width: var(--width);
  max-height: var(--height);
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 16px;
  font-weight: 900;
  color: #FFFFFF;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  color: #DEDEDE;
}

h3 {
  font-size: 12px;
  font-weight: 500;
  color: #B5BBBE;
}

h4 {
  font-size: 12px;
  font-weight: 700;
  color: #B5BBBE;
}
</style>
