<template>
  <main id="home">
    <text-field
      class="no-error"
      :title="'Rechercher un emote'"
      :placeholder="':nom_emote:'"
      @nameTyped="showResults($event)"
    />
    <result-container
      :results="results"
      :status="status"
      @finalItemDeletion="fetchAllEmotes()"
    />
    <router-link to="/new">
      <img
        class="add-button"
        src="icons/plus.svg"
        alt="bouton d'ajout d'emote"
      >
    </router-link>
  </main>
</template>

<script>
import TextField from "../components/TextField.vue"
import ResultContainer from "../components/ResultContainer.vue"

export default {
  name: 'Home',
  components: {
    TextField,
    ResultContainer,
  },
  mounted() {
    this.fetchAllEmotes() // fetching all emotes from the local storage
  },
  data() {
    return {
      results: [], // the displayed emotes
      status: '',
      statusFreq: "Les plus fréquents",
      statusSearch: "Résultats de la recherche"
    }
  },
  methods: {
    showResults(query) {
      if (query == '')
        this.fetchAllEmotes()
      else
        this.fetchSearchEmotes(query)
    },
    fetchAllEmotes() {
      this.status = this.statusFreq
      chrome.storage.local.get(null, items => {
        this.results = [] // reset the displayed emotes

        for (const emote in items) {
          this.results.push({
            name: emote,
            data: items[emote].data,
            uses: items[emote].uses
          })
        }

        // order the emotes by descending number of uses
        this.results.sort(function (a,b) {
          return b.uses - a.uses
        })
      })
    },
    fetchSearchEmotes(query) {
      this.status = this.statusSearch

      chrome.storage.local.get(null, items => {
        this.results = [] // reset the displayed emotes
        var regex = new RegExp(query, "i")

        for (const emote in items) {
          if (regex.test(emote)) { // if the emote matches the query
            this.results.push({
              name: emote,
              data: items[emote].data,
              uses: items[emote].uses
            })
          }
        }
      })
    }
  }
}
</script>

<style scoped>
#home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.add-button {
  background-color: #6199ED;
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
</style>