<template>
  <main id="new">
    <section class="globa">
      <text-field
        class="flush"
        :title="'Ajouter un emote'"
        :placeholder="'nom_emote'"
        :errorText="nameStatus"
        @nameTyped="testName($event)"
      />

      <text-field
        class="flush"
        :title="'URL de l\'emote'"
        :placeholder="'https://www.example.com'"
        :errorText="linkStatus"
        @nameTyped="testLink($event)"
      />

      <hr class="separator">

      <preview-section
        :url="emoteURL"
      />
    </section>

    <router-link
      to="/"
      class="submitbtn"
      @click="submit()"
      :class="{ disabled: !readyToGo }"
    >
      Ajouter
    </router-link>
  </main>
</template>

<script>
import TextField from "../components/TextField.vue"
import PreviewSection from "../components/PreviewSection.vue"
import axios from 'axios'

export default {
  name: 'New',
  components: {
    TextField,
    PreviewSection
  },
  data() {
    return {
      nameStatus: "",
      linkStatus: "",
      nameValue: "",
      linkValue: "",
      emoteURL: "",
    }
  },
  methods: {
    testName(name) {
      var regex = /^[a-zA-Z1-9_~]+$/i

      if (!regex.test(name))
        this.nameStatus = "Le nom entré est invalide."
      else
        this.nameStatus = ''
      this.nameValue = name
    },
    testLink(link) {
      // Big copypasta :c
      var regex = new RegExp('^(https?:\\/\\/)?'+ // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
        '(\\#[-a-z\\d_]*)?$','i') // fragment locator

      if(!regex.test(link)) {
        this.linkStatus = "Le lien entré est invalide."
        this.emoteURL = ''
      } else {
        this.linkStatus = ''
        this.emoteURL = link
      }
      this.linkValue = link
    },
    async submit() {
      if (this.nameValue != '' && this.nameStatus == '') {
        if (this.linkValue != '' && this.linkStatus == '') {
          try {
            var res = await axios.get(this.linkValue, { responseType: 'arraybuffer' })
            var data = Buffer.from(res.data, 'binary').toString('base64')
            var obj = {}

            obj[this.nameValue] = {
              "data": `data:image/png;base64,${data}`,
              "uses": 0
            }

            chrome.storage.local.set(obj, () => { /* No callback */ })
          } catch (error) {
            console.error(error)
          }
        }
      }
    }
  },
  computed: {
    readyToGo() {
      // true if everything is properly filled
      return this.nameStatus == this.linkStatus &&
              this.nameValue != '' && this.linkValue != ''
    }
  }
}
</script>

<style scoped>
#new {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}

.sizebox {
  display: flex;
  margin-top: 4px;
  margin-bottom: 18px;
  padding: 0 8px;
}

.separator {
  width: 85%;
  border: 1px solid #474A52;
  margin: 12px auto;
}

.submitbtn {
  background-color: var(--theme-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  padding: 10px 0;
  width: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.submitbtn:hover {
  background-color: var(--theme-color-hover);
}

.submitbtn:active {
  background-color: var(--theme-color-active);
}

.submitbtn.disabled {
  background-color: #737d8c;
  cursor: default;
  pointer-events: none;
}
</style>