<template>
  <div class="preview">
    <h2>Preview</h2>
    <div class="preview-image">
      <img
        v-if="url != ''"
        :src="url"
        class="preview-image__image"
        alt=""
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "PreviewSection",
  props: {
    url: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.preview {
  margin-bottom: 8px;
}

.preview-image {
  border-radius: 5px;
  background-color: #36393F;
  width: 72px;
  height: 72px;
  margin-top: 4px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image__image {
  max-width: 72px;
  max-height: 72px;
}
</style>