<template>
  <div class="resultbox">
    <h3 class="resultbox-status">
      {{ status }}
    </h3>
    <div class="resultbox-container">
      <result-item
        v-for="emote in results"
        :key="emote.name"
        :name="emote.name"
        :data="emote.data"
        :uses="emote.uses"
        @itemDeletion="propagateEvent()"
      />
    </div>
  </div>
</template>

<script>
import ResultItem from "../components/ResultItem.vue"

export default {
  name: "ResultContainer",
  components: {
    ResultItem
  },
  props: {
    results: {
      type: Array,
      required: true
    },
    status: {
      type: String,
      required: true
    }
  },
  methods: {
    propagateEvent() {
      this.$emit('finalItemDeletion')
    }
  }
}
</script>

<style scoped>
.resultbox {
  flex: 1;
  padding: 0px 4px 8px 8px;
  overflow-y: auto;
}

.resultbox::-webkit-scrollbar {
  width: 8px;
}

.resultbox::-webkit-scrollbar-track {
  background-color: #1F2023;
  border-radius: 20px;
}

.resultbox::-webkit-scrollbar-thumb {
  background-color: #060607;
  border-radius: 20px;
}

.resultbox-status {
  margin-bottom: 7px;
}

.resultbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
</style>