<template>
  <button
    class="result-item"
    @click="copyToClipboard"
  >
    <button
      class="result-delete"
      type="button"
      @click.stop="deleteEmote"
    >
      <img
        class="result-delete__icon"
        src="icons/trash.svg"
      >
    </button>
    <img
      class="result-item__image"
      :src="data"
      :alt="`emote with ${uses} uses`">
  </button>
</template>

<script>
export default {
  name: "ResultItem",
  props: {
    "name": {
      type: String,
      required: true
    },
    "data": {
      type: String,
      required: true
    },
    "uses": {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      updatedUses: this.uses
    }
  },
  methods: {
    copyToClipboard() {
      chrome.storage.local.set(this.packedInfo(), async () => {
        const img = await fetch(this.data)
        const blob = await img.blob()
        const toCopy = [new ClipboardItem({ [blob.type]: blob })]
        await navigator.clipboard.write(toCopy)
      })
    },
    packedInfo() {
      var data = this.data
      var uses = ++this.updatedUses // update the number of uses of the emote
      var info = {}
      info[this.name] = {
        "data": data,
        "uses": uses
      }
      return info
    },
    deleteEmote() {
      chrome.storage.local.remove(this.name, () => {
        this.$emit("itemDeletion")
      })
    }
  }
}
</script>

<style scoped>
.result-item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.result-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.result-item__image {
  max-width: 100%;
}

.result-item:hover .result-delete {
  display: inline-block;
}

.result-delete {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  border: none;
  border-radius: 3px;
  background-color: #22252A;
  padding: 2px;
  cursor: pointer;
}

.result-delete:hover {
  background-color: #d84646;
}

.result-delete__icon {
  display: block;
  width: 16px;
  height: 16px;
}
</style>