<template>
  <div class="textfield">
    <h2 class="textfield-title">
      {{ title }}
    </h2>
    <input
      class="textfield-input"
      type="text"
      :placeholder="placeholder"
      v-model="value"
      @input="$emit('nameTyped', value)"
      spellcheck="false"
      autocomplete="false"
    >
    <p
      class="textfield-error"
    >
      {{ errorText }}
    </p>
  </div>
</template>

<script>
export default {
  name: "TextField",
  props: {
    title: {
      type: String,
      required: false
    },
    placeholder: {
      type: String,
      required: true
    },
    errorText: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      value: "",
    }
  }
}
</script>

<style scoped>
.textfield {
  padding: 8px;
  padding-bottom: 0;
}

.textfield.flush {
  padding: 0;
}

.textfield-input {
  border: none;
  border-radius: 5px;
  background-color: #40444B;
  color: #DDD6DE;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 2px;
  outline: none;
}

.textfield-input::placeholder {
  color: #72767D;
}

.textfield.no-error .textfield-input {
  margin-bottom: 4px;
}

.textfield-error {
  line-height: 13px;
  min-height: 13px;
  font-size: 10px;
  font-weight: 400;
  color: #F76E6E;
  margin-left: 3px;
  margin-bottom: 4px;
}

.textfield.no-error .textfield-error {
  min-height: unset;
  margin-bottom: 0;
}
</style>