<template>
  <header id="header">
    <div class="header-banner"></div>
    <div class="header-content">
      <div class="header-content__logo">
        <img class="header-content__logo___image" src="icons/icon.svg" alt="Nitrowl logo">
        <h1>NITROWL</h1>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: "TheHeader"
}
</script>

<style scoped>
.header-content__logo {
  display: flex;
  align-items: center;
}

.header-content__logo___image {
  width: 30px;
  height: auto;
  margin-right: 7px;
}

.header-banner {
  width: 100%;
  height: 9px;
  background-color: var(--theme-color);
}

.header-content {
  padding: 8px;
}
</style>